*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
header{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

header .web{
    width: 25%;
    text-align: center;
    width: 140px;
    height: 40px;
   background-color: #CEFA05;
   border-radius: 20px;
   font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}
ul li a{
    color: black;
}
.apply{
    font-weight: bold;
    color: #005249;
}
header .logo{
    width: 20%;
  display: flex;
  justify-content: center;
 
}
header img{
    width: 100px;
    height: 80px;
}
header nav{
    width: 50%;
}
header nav ul{  
    display: flex;
    justify-content: space-between;
}
.nav-phone{
    display: none;
   
}
.nav-phone ul{
    margin: 40px;
}
.nav-phone ul li {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(204, 189, 189);
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}
.web-phone{
    display: none;
}
.hamburger{
    display: none;
}
.fa-solid .fa-xmark close{
    display: none;
}

@media  (max-width:800px) {
   .web{
    display: none !important;
   }
  .destop{
    display: none;
  }
  .nav-phone{
    display: flex;
    flex-direction: column;
    position: absolute;
   
  }
  .web-phone{
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 40px;
margin-right: 40px;
background-color: #CEFA05;
  border-radius: 20px;
  height: 40px;
}
   
}


@media  (max-width:700px){
.hamburger{
    display: flex;
    margin-right: 40px;
}
.hamburger .fa-x{
display: none;
}

}

.nav-phone{

    left: -100%;
}

.nav-phone.sema{

    left: 0;
}